<div class="alert alert-success text-center"
     *ngIf="authService.business.registration_completed == false"
     role="alert">
  Please, kindly complete your business registration
  <button class="btn  btn-success ms-2">Here</button>
</div>
<!-- Navigation -->

<nav class="border-bottom nav-ds sticky-header">
  <div class="navigation-wrapper container flex-space-between align-items-center">
    <div class="nav-left-hand-part">
      <!-- mobile panel burger icon -->
      <div class="burger-icon">
        <svg class="crumina-icon">
          <use xlink:href="#menu-icon"></use>
        </svg>
      </div>
      <!-- mobile panel burger icon -->
      <!-- header logo -->
      <div class="logo">
        <a class="logo-link"
           href="01-home-ds.html">
          <div class="logo-img">
            <img src="assets/img/content/logo.png"
                 alt="logo" />
          </div>
        </a>
      </div>
      <!-- header logo -->
      <!--  navigation menu -->
      <ul class="navigation-menu">
        <li class="menu-item">
          <a class="menu-link"
             [routerLink]="['']"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">
            <span class="me-1"><i class="far fa-home"
                 routerLinkActive="fas"
                 [routerLinkActiveOptions]="{exact: true}">
              </i>
            </span> Dashboard
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link"
             [routerLink]="['employess']"
             routerLinkActive="active">
            <span class="me-1">
              <i class="far fa-users"
                 routerLinkActive="fas"></i></span> Employees
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link"
             [routerLink]="['rewards']"
             routerLinkActive="active">
            <span class="me-1">
              <i class="far fa-gift"
                 routerLinkActive="fas"></i></span> Reward
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link"
             [routerLink]="['marketplace']"
             routerLinkActive="active">
            <span class="me-1">
              <i class="far fa-bullhorn"
                 routerLinkActive="fas"></i></span> Marketplace
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link"
             [routerLink]="['settings']"
             routerLinkActive="active">
            <span class="me-1">
              <i class="far fa-cog"
                 routerLinkActive="fas"></i></span> Settings
          </a>
        </li>




      </ul>
      <!--  navigation menu -->
    </div>
    <div class="nav-right-hand-part">
      <!-- user activity buttons -->
      <div class="user-activity-buttons">
        <!-- user mobile search button -->
        <button id="mobile-search">
          <svg class="crumina-icon open-button">
            <use id="search"
                 xlink:href="#search-icon"></use>
          </svg>
        </button>
        <!-- user mobile search button -->
        <!-- cart button -->
        <div class="cart-button-cont">
          <button class="cart-button cryptoki-notif-bttn"
                  data-target="cart-dropdown">
            <span class="counter">3</span>
            <svg class="crumina-icon">
              <use xlink:href="#bag-icon"></use>
            </svg>
          </button>
          <div id="cart-dropdown"
               class="cryptoki-notif-target">
            <div class="title">
              Your Cart <span class="colored">3</span>
            </div>
            <div class="cart-wrapper">
              <div class="cart-product">
                <div class="thumb-box"><a href="05-product.html"><img src="img/content/notifications/notif-thumb-1.png"
                         alt=""></a></div>
                <div class="purchase-info">
                  <div class="product-info">
                    <div class="product-title"><a href="05-product.html">Cryptoki NFT and
                        Digital Market PSD Template</a>
                    </div>
                    <div class="product-price">$12.00</div>
                  </div>
                  <div class="product-type ui-templates">UI templates</div>
                </div>
              </div>
              <div class="cart-product">
                <div class="thumb-box"><a href="05-product.html"><img src="img/content/notifications/notif-thumb-2.png"
                         alt=""></a></div>
                <div class="purchase-info">
                  <div class="product-info">
                    <div class="product-title"><a href="05-product.html">Twitter Gaming
                        Headers Pack 04</a></div>
                    <div class="product-price">$40.00</div>
                  </div>
                  <div class="product-type social-graphics">Social graphics</div>
                </div>
              </div>
              <div class="cart-product">
                <div class="thumb-box"><a href="05-product.html"><img src="img/content/notifications/notif-thumb-3.png"
                         alt=""></a></div>
                <div class="purchase-info">
                  <div class="product-info">
                    <div class="product-title"><a href="05-product.html">Olympus WP - Social
                        Networking Theme</a></div>
                    <div class="product-price">$68.00</div>
                  </div>
                  <div class="product-type coded-templates">Coded templates</div>
                </div>
              </div>
            </div>
            <div class="total-price">
              <div class="heading">Cart Total</div>
              <div class="price">$120.00</div>
            </div>
            <div class="cart-buttons">
              <a href="08-shopping-cart.html"
                 class="btn-small gradient-background btn-square">Go
                to
                Cart</a>
              <a href="09-checkout.html"
                 class="btn-small btn-dark btn-square">Checkout</a>
            </div>
          </div>
        </div>
        <!-- cart button -->
        <!-- favourites buttons -->
        <div class="favourites-button-cont">
          <button class="favourites-button cryptoki-notif-bttn"
                  data-target="">
            <span class="counter">7</span>
            <svg class="crumina-icon">
              <use xlink:href="#heart-icon"></use>
            </svg>
          </button>
        </div>
        <!-- favourites buttons -->
        <!--  notifications dropdown -->
        <div class="notifications-button-cont">
          <button class="notifications-button cryptoki-notif-bttn"
                  data-target="notifications-dropdown">
            <span class="counter">10</span>
            <svg class="crumina-icon">
              <use xlink:href="#bell-icon"></use>
            </svg>
          </button>
          <div id="notifications-dropdown"
               class="cryptoki-notif-target">
            <div class="title">
              Notifications <span class="colored">10</span>
            </div>
            <div class="notifications-wrapper cryptoki-scrollbar">
              <div class="notification">
                <div class="thumb-box"><img src="img/content/notifications/notif-thumb-1.png"
                       alt=""><span class="bid-type"><svg class="crumina-icon">
                      <use xlink:href="#annotation-icon"></use>
                    </svg></span></div>
                <div class="notification-info">
                  <div class="message"><a href="06-profile-page.html"
                       class="bold">@JackieJ</a> just commented on
                    <a href="05-product.html"
                       class="bold">Cryptoki NFT and Digital Market
                      PSD
                      Template</a>
                  </div>
                  <div class="publish-date">2 minutes ago</div>
                </div>
              </div>
              <div class="notification">
                <div class="thumb-box"><img src="img/content/notifications/notif-thumb-1.png"
                       alt=""><span class="purchase-type"><svg class="crumina-icon">
                      <use xlink:href="#wallet-icon"></use>
                    </svg></span></div>
                <div class="notification-info">
                  <div class="message"><a href="06-profile-page.html"
                       class="bold">@CrimsonRay</a> just
                    purchased<a href="05-product.html"
                       class="bold"> Cryptoki NFT and
                      Digital Market PSD
                      Template</a></div>
                  <div class="publish-date">10 minutes ago</div>
                </div>
              </div>
              <div class="notification">
                <div class="thumb-box"><img src="img/content/notifications/notif-thumb-2.png"
                       alt=""><span class="like-type"><svg class="crumina-icon">
                      <use xlink:href="#heart-icon"></use>
                    </svg></span></div>
                <div class="notification-info">
                  <div class="message"><a href="06-profile-page.html"
                       class="bold">@NoirArtks</a> just liked<a href="#"
                       class="bold">
                      Twitter Gaming Headers Pack 04</a></div>
                  <div class="publish-date">37 minutes ago</div>
                </div>
              </div>
              <div class="notification">
                <div class="thumb-box"><img src="img/content/notifications/notif-thumb-1.png"
                       alt=""><span class="review-type"><svg class="crumina-icon">
                      <use xlink:href="#star-icon"></use>
                    </svg></span></div>
                <div class="notification-info">
                  <div class="message"><a href="06-profile-page.html"
                       class="bold">@CrimsonRay</a> just
                    reviewed<a href="05-product.html"
                       class="bold">
                      Cryptoki NFT and Digital Market PSD Template</a></div>
                  <div class="publish-date">49 minutes ago</div>
                </div>
              </div>
            </div>
            <a href="25-notifications.html"
               class="btn-small-fullwidth btn-dark btn-square">View all
              Notifications</a>
          </div>
        </div>
        <!--  notifications dropdown -->
      </div>
      <!-- user activity buttons -->
      <!-- header user profile -->
      <div class="header-user-profile cryptoki-notif-bttn"
           data-target="profile-dropdown">
        <div class="user-meta">
          <div class="user_name">{{ authService.user.name }}</div>
          <div class="user_score">{{ authService.business.name }}</div>
        </div>
        <div class="avatar box-42">
          <img src="img/avatar.png"
               alt="avatar"><span class="verified"><svg class="crumina-icon">
              <use xlink:href="#check-icon"></use>
            </svg></span>
        </div>
        <div class="closing-icon">
          <svg class="crumina-icon close-icon">
            <use xlink:href="#cross-icon"></use>
          </svg>
        </div>
        <div id="profile-dropdown"
             class="cryptoki-notif-target">
          <div class="profile-dropdown-header profile-cover-image"></div>
          <div class="profile-dropdown-body">
            <div class="profile-heading">
              <div class="profile-avatar avatar box-26">
                <img src="img/avatar.png"
                     alt="avatar"><span class="verified"><svg class="crumina-icon">
                    <use xlink:href="#check-icon"></use>
                  </svg></span>
              </div>
              <div class="profile-link">
                <a class="btn  btn-small gradient-background"
                   href="06-profile-page.html">My
                  Profile</a>
              </div>
            </div>
            <ul class="profile-menu">
              <li><a href="26-profile-info.html"><svg class="crumina-icon">
                    <use xlink:href="#user-icon"></use>
                  </svg>Profile Info</a></li>
              <li><a href="!#"><svg class="crumina-icon">
                    <use xlink:href="#settings-icon"></use>
                  </svg>Account Settings</a></li>
              <li><a href="!#"><svg class="crumina-icon">
                    <use xlink:href="#slide-filter-icon"></use>
                  </svg>Notification Settings</a></li>
              <li><a href="10-profile-dashboard.html"><svg class="crumina-icon">
                    <use xlink:href="#dashboard-icon"></use>
                  </svg>Dashboard</a></li>
              <li><a href="11-profile-sales-statement.html"><svg class="crumina-icon">
                    <use xlink:href="#file-text-icon"></use>
                  </svg>Sales Statement</a></li>
              <li><a href="12-profile-upload-item.html"><svg class="crumina-icon">
                    <use xlink:href="#picture-icon"></use>
                  </svg>Upload Item</a></li>
              <li><a href="13-profile-manage-items.html"><svg class="crumina-icon">
                    <use xlink:href="#picture-icon"></use>
                  </svg>Manage Items</a></li>
              <li><a href="14-profile-payment-history.html"><svg class="crumina-icon">
                    <use xlink:href="#dollar-icon"></use>
                  </svg>Payouts</a></li>
              <li><a href="15-profile-purchases.html"><svg class="crumina-icon">
                    <use xlink:href="#wallet-icon"></use>
                  </svg>Purchases</a></li>
              <li><a href="!#"><svg class="crumina-icon">
                    <use xlink:href="#circle-checked-icon"></use>
                  </svg>Get Verified</a></li>
              <li class="logout"><a href="!#"><svg class="crumina-icon">
                    <use xlink:href="#logout-icon"></use>
                  </svg>Log Out</a></li>
            </ul>
          </div>
          <div class="profile-dropdown-footer">
            <div class="mode-toggle">
              <div class="mode-title"><span><svg class="crumina-icon">
                    <use xlink:href="#moon-icon"></use>
                  </svg></span>Night-mode</div>
              <label class="toggle-control">
                <input type="checkbox"
                       checked="checked">
                <span class="control"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-- header user profile -->
    </div>
  </div>

</nav>