<div class="section-title-wrapper">
  <div class="section-title"><span class="gradient-text">Your business</span> information</div>
</div>

<!-- <app-store-registration-basic-information-create></app-store-registration-basic-information-create> -->

<ng-container *ngIf="authService.business?.registration_completed">
  <div class="row">
    <div class="col-12 text-end">
      <button class="btn btn-black"
              (click)="openModal(content)"> <svg class="crumina-icon">
          <use xlink:href="#settings-icon"></use>
        </svg> Edit </button>
    </div>
  </div>
  <div class="row mb-5">
    <!-- Name -->
    <div class="col-4">
      <div class="gradient-text title"> Business Name </div>
      <div class="content"> {{ authService.business.name }} </div>
    </div>

    <!-- Type -->
    <div class="col-4">
      <div class="gradient-text title"> Type business</div>
      <div class="content"> {{ authService.business.type_business?.name }} </div>
    </div>


    <!-- Industry -->
    <div class="col-4">
      <div class="gradient-text title"> Industry </div>
      <div class="content"> {{ authService.business.industry?.name }} </div>
    </div>

  </div>

  <div class="row mb-5">
    <!-- Email -->
    <div class="col-4">
      <div class="gradient-text title"> Email address </div>
      <div class="content"> {{ authService.business.email_address }} </div>
    </div>

    <!-- Country -->
    <div class="col-4">
      <div class="gradient-text title">Country </div>
      <div class="content"> {{ authService.business.country?.name }} </div>
    </div>


    <!-- Currency -->
    <div class="col-4">
      <div class="gradient-text title">Currency </div>
      <div class="content"> {{ authService.business.currency?.name }} ({{ authService.business.currency?.symbol }})</div>
    </div>

  </div>

  <!-- Description -->
  <div class="row">
    <div class="gradient-text title"> Description </div>
    <div class="content"> {{ authService.business.description }}</div>
  </div>
</ng-container>


<div class="row mt-5"
     *ngIf="!authService.business?.registration_completed"
     (click)="openModal(content)">
  <div class="col-12 text-center">
    <button class="btn btn-wide btn-square btn-dark">Complete your business information</button>
  </div>
</div>


<ng-template #content
             let-d="dismiss"
             let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center w-100"><span class="gradient-text">Business </span> information</h4>
    <button type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body p-5">
    <app-business-settings-business-information-edit (created)="closeModal(content)"></app-business-settings-business-information-edit>

  </div>

</ng-template>