.main-svg {
  height: 300px;
  width: 300px;
  margin-top: -70px;
}

.option-container {
  border-radius: 13px;
  cursor: pointer;

  p {
    margin-bottom: 0;
    font-weight: bolder;
  }

  &:hover {
    border: 1px solid var(--primary-accent-color) !important;
  }

  &.active {
    border: 1px solid var(--primary-accent-color) !important;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;

    // i.icon {
    //   color: white !important;
    //   -webkit-text-fill-color: white;
    // }
  }
}

.icon {
  font-size: 24px;
}
