.main-svg {
  height: 300px;
  width: 300px;
  margin-top: -70px;
}

.option-container {
  border-radius: 13px;
}

.icon {
  font-size: 24px;
}

.option-container p {
  margin-bottom: 0;
  font-weight: bolder;
}
