<app-store-header></app-store-header>
<div class="primary-content-area container content-padding grid-left-sidebar">
  <aside>
    <div class="user-db-menu">
      <div class="user-db-header">
        <div class="user-db-cover-image profile-cover-image"></div>
        <div class="user-header-user-profile">
          <div class="avatar box-64">
            <a href="08-profile-page.html">
              <img src="img/avatar.png"
                   alt="avatar"><span class="verified"><svg class="crumina-icon">
                  <use xlink:href="#check-icon"></use>
                </svg></span></a>
          </div>
          <div class="title"><a href="08-profile-page.html">Dexter Stark</a></div>
          <div class="item-meta"><span class="gradient-text">@DexterStark</span></div>
        </div>
      </div>
      <div class="user-db-body">
        <ul class="profile-menu">
          <li class="profile">
            <a href="23-profile-info.html"><svg class="crumina-icon">
                <use xlink:href="#user-icon"></use>
              </svg>Profile Info</a>
          </li>
          <li class="account">
            <a href="29-account-settings.html"><svg class="crumina-icon">
                <use xlink:href="#settings-icon"></use>
              </svg>Payment Settings</a>
          </li>
          <li class="notification">
            <a href="30-notification-settings.html"><svg class="crumina-icon">
                <use xlink:href="#slide-filter-icon"></use>
              </svg>Notification Settings</a>
          </li>
          <li class="artwork">
            <a href="26-upload-artwork.html"><svg class="crumina-icon">
                <use xlink:href="#picture-icon"></use>
              </svg>Create Card</a>
          </li>
          <li class="wallet">
            <a href="18-connect-a-wallet.html"><svg class="crumina-icon">
                <use xlink:href="#wallet-icon"></use>
              </svg>Merchant Report</a>
          </li>
          <li class="verification">
            <a href="31-get-verified.html"><svg class="crumina-icon">
                <use xlink:href="#circle-checked-icon"></use>
              </svg>Scan</a>
          </li>
          <li class="logout">
            <a href="!#"><svg class="crumina-icon">
                <use xlink:href="#logout-icon"></use>
              </svg>Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </aside>
  <div class="main-content-area ">
    <div class="section-padding overflow-hidden">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>