<div class="payment-method-section">

  <form class="cryptoki-form"
        id="payment-method-form">
    <div class="payment-method">
      <div class="form-column">
        <div class="summary-section">
          <div class="small-title"><span class="gradient-text"><span><i class="far fa-clock me-1"></i></span> Last</span> activities</div>
          <div class="products-in-cart">
            <div class="product-in-cart">
              <div class="product-info">

                <div class="product-details">
                  <div class="product-name">
                    <div class="far fa-badge-dollar me-1"></div> Point Load
                  </div>
                  <div class="license-type">You've loaded <strong>290</strong> points</div>
                </div>
              </div>
            </div>
            <div class="product-in-cart">
              <div class="product-info">

                <div class="product-details">
                  <div class="product-name">
                    <div class="far fa-gift me-1"></div> Reward Sent
                  </div>
                  <div class="license-type">You've sent <strong>10</strong> points to <strong>Olamide Olutkunbi</strong></div>
                </div>
              </div>
            </div>
            <div class="product-in-cart">
              <div class="product-info">

                <div class="product-details">
                  <div class="product-name"><i class="far fa-users me-1"></i>New connection</div>
                  <div class="license-type">You're are now connected with <strong>Patience Ayeni</strong></div>
                </div>
              </div>
            </div>
            <div class="product-in-cart">
              <div class="product-info">

                <div class="product-details">
                  <div class="product-name">
                    <div class="far fa-badge-dollar me-1"></div>Point Load
                  </div>
                  <div class="license-type">You've loaded <strong>290</strong> points</div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
    <!-- <button class="btn btn-wide btn-dark"
            type="submit">Confirm Method</button> -->
  </form>