<div class="row"
     *ngIf="!loading && storeProductService.data.length">
  <div class="col-12 mb-2 text-end">
    <button class="btn btn-black"
            (click)="openModal(content, 'lg')"> <span><i class="fal fa-plus"></i></span> Add </button>
  </div>

  <div class="featured-item col-3"
       *ngFor="let product of storeProductService.data">
    <div class="featured-item-wrapper">
      <div class="featured-item-content ">

        <!-- Price -->
        <div class="fav-counter"><svg class="crumina-icon">
            <use xlink:href="#dollar-icon"></use>
          </svg><span class="count">{{ product.price }}</span>
        </div>
        <!-- Imae -->
        <div class="featured-item-image">
          <!-- TODO: Set a default image in case the product doesnt have image -->
          <a routerLink="./"
             *ngIf="product.image"><img [src]="product.image.url"
                 alt=""></a>
        </div>

        <!-- Name -->
        <div class="featured-item-info">

          <div class="title"> <a routerLink="./">{{ product.name }}</a></div>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="row mt-5"
     *ngIf="!loading && !storeProductService.data.length"
     (click)="openModal(content, 'lg')">
  <div class="col-12 text-center">
    <button class="btn btn-wide btn-square btn-dark">Add a product to your catalogue</button>
  </div>
</div>

<app-page-loading *ngIf="loading"></app-page-loading>

<ng-template #content
             let-d="dismiss"
             let-modal>
  <div class="modal-header p-4">
    <h4 class="modal-title text-center w-100">Add a <span class="gradient-text"> product </span> to your catalogue</h4>
    <button type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body p-5">
    <app-store-product-create (done)="closeModal(content)"></app-store-product-create>

  </div>

</ng-template>