.default-logo {
  height: 100px;
  width: 100px;
  background-color: gainsboro;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.default-logo::after {
  content: url(../../../../../../assets/svg/camera.svg);
  width: 44px;
  height: 34px;
  line-height: 1;
  background-color: var(--body-background);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid var(--border-color);
  border-radius: 30px;
  padding: 8px 14px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
