<ul ngbNav
    #nav="ngbNav"
    (navChange)="$event.preventDefault()"
    [(activeId)]="activeStep"
    class="nav-fill nav-pills">
  <li [ngbNavItem]="1">
    <button class="btn-lg"
            ngbNavLink>1. Recipient information</button>
    <ng-template ngbNavContent>
      <app-gift-finder-step-one></app-gift-finder-step-one>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <button class="btn-lg"
            ngbNavLink>2. Preference and interest</button>
    <ng-template ngbNavContent>
      <app-gift-finder-step-two></app-gift-finder-step-two>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <button class="btn-lg"
            ngbNavLink>3. Occasion and constraint</button>
    <ng-template ngbNavContent>
      <app-gift-finder-step-three></app-gift-finder-step-three>
    </ng-template>
  </li>
  <li [ngbNavItem]="4">
    <button class="btn-lg"
            ngbNavLink>4. Looking up for gift</button>
    <ng-template ngbNavContent>
      <app-gift-finder-step-four></app-gift-finder-step-four>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav"></div>

<!-- <nav ngbNav
     #nav="ngbNav"
     [(activeId)]="activeStep"
     class=" nav-fill nav-pills">
  <ng-container ngbNavItem>
    <button [ngbNavItem]="1">1. Recipient information</button>
    <ng-template ngbNavContent>
      <app-gift-finder-step-one></app-gift-finder-step-one>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <button [ngbNavItem]="2">2. Preference and interest</button>
    <ng-template ngbNavContent>
      <app-gift-finder-step-two></app-gift-finder-step-two>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <button [ngbNavItem]="3">3. Occasion and constraint</button>
    <ng-template ngbNavContent>
      <app-gift-finder-step-three></app-gift-finder-step-three>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <a [ngbNavItem]="4">4. Looking up for gift</a>
    <ng-template ngbNavContent>
      <app-gift-finder-step-four></app-gift-finder-step-four>
    </ng-template>
  </ng-container>
</nav>

<div [ngbNavOutlet]="
                nav"
     class="mt-2"></div> -->

<div class="d-flex justify-content-end">
  <div class="d-flex justify-content-end me-2 mt-2"
       *ngIf="activeStep > 1">
    <button class="btn btn-square btn-wide btn-dark"
            (click)="prev()">Previous</button>
  </div>
  <div class="d-flex justify-content-end mt-2"
       *ngIf="activeStep < 4">
    <button (click)="next()"
            class="btn btn-square btn-wide btn-dark"
            [disabled]="activeStep == 2 && giftFinderService.form.get('interests')?.value.length == 0">Next</button>
  </div>
</div>