::ng-deep {
  .nav-link {
    color: inherit;
    font-weight: bolder;
  }

  .nav-link.active {
    background: var(--cryptoki-gradient);
    color: var(--contrast-text-color);
  }

  .nav-fill .nav-item .nav-link,
  .nav-justified .nav-item .nav-link {
    width: 100%;
    padding: 20px;
    font-size: 14px;
  }
}
