<div class="primary-content-area container content-padding">
  <div class="product-page product-version-3"
       *ngIf="storeService.singleData">
    <!--  PRODUCT HEADER AREA -->
    <div class="page-title-section">
      <div class="social-share-box">
        <div class="share-icons">
          <a href="#">
            <svg class="crumina-icon">
              <use xlink:href="#link-icon"></use>
            </svg>
          </a>
          <a href="#">
            <svg class="crumina-icon">
              <use xlink:href="#facebook-icon"></use>
            </svg>
          </a>
          <a href="#"><svg class="crumina-icon">
              <use xlink:href="#twitter-icon"></use>
            </svg>
          </a>
          <a href=""><svg class="crumina-icon">
              <use xlink:href="#instagram-icon"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="product-title">
        <h1>{{ storeService.singleData.card.name }}</h1>
      </div>
      <div class="favourite-section">
        <div class="product-fav-counter"><svg class="crumina-icon">
            <use xlink:href="#heart-icon"></use>
          </svg><span class="count">105</span>
        </div>
        <div class="more-link"><a href="#">
            <svg class="crumina-icon">
              <use xlink:href="#dots-icon"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <!--  PRODUCT HEADER AREA -->
    <!--  PRODUCT MAIN INFO -->
    <div class="product-main-info">
      <div class="product-info">
        <div class="small-title">Store</div>
        <div class="product-author avatar-block">
          <div class="avatar box-42">
            <a href="08-profile-page.html"><img [src]="storeService.singleData.store_logo_image?.url"
                   alt="avatar"></a><span class="verified"><svg class="crumina-icon">
                <use xlink:href="#check-icon"></use>
              </svg></span>
          </div>
          <div class="avatar-meta">
            <div class="avatar-title"><span class="gradient-text"><a href="08-profile-page.html">{{ storeService.singleData.name }} </a></span>
            </div>
            <div class="avatar-meta">@{{ storeService.singleData.name }}</div>
          </div>
        </div>
        <div class="product-description">
          <div class="small-title">Description</div>
          <p>{{ storeService.singleData.description }}
          </p>
        </div>

        <div class="product-description">
          <div class="small-title">Edition</div>
          <div class="value">May/June</div>
          <div class="caption">Edition</div>
        </div>

      </div>
      <div class="product-media">
        <a class="expand-icon"
           data-fslightbox="gallery"
           [routerLink]="['/', storeService.singleData.card.card_image.url]">
          <svg class="crumina-icon">
            <use xlink:href="#maximize-icon"></use>
          </svg>
        </a>
        <div class="product-img border rounder-circle p-2"
             style="border-radius: 40px;">
          <img [src]="storeService.singleData.card.card_image.url"
               alt="">
        </div>
      </div>
      <div class="product-meta-section">
        <div class="product-meta-item">
          <div class="small-title">Minimum Price</div>
          <div class="value">GHC {{ storeService.singleData.card.min_price }}</div>
          <!-- <div class="caption">Two Thousand Ghana Cedis</div> -->
        </div>

        <div class="product-meta-item">
          <div class="small-title">Discount ending in</div>
          <div class="countdown">
            <div class="js-countdown"
                 data-timer="104400"
                 data-labels="Days , Hours , Mins , Secs"></div>
          </div>
        </div>


        <div class="product-description">
          <div class="small-title">Amount</div>
          <ul class="details-list">
            <!-- <li><svg class="crumina-icon bullet-icon">
                            <use xlink:href="#circle-icon"></use>
                          </svg><span class="detail-label">Content</span><span class="bold">Baby's Clothing</span></li>
                        <li><svg class="crumina-icon bullet-icon">
                            <use xlink:href="#circle-icon"></use>
                          </svg><span class="detail-label">Age</span><span class="bold">1-5 Years</span></li> -->
            <!-- <div style="display: flex; justify-content: space-between;">

              <div class="placed-bid">
                <div class="bid-placer">

                  <div class="bid-info">
                    <div class="bid-title"> <span class="gradient-"><a href="08-profile-page.html">200
                        </a></span></div>
                  </div>
                </div>

              </div>
              <div class="placed-bid">
                <div class="bid-placer">

                  <div class="bid-info">
                    <div class="bid-title"> <span class="gradient-"><a href="08-profile-page.html">200
                        </a></span></div>
                  </div>
                </div>

              </div>
              <div class="placed-bid">
                <div class="bid-placer">

                  <div class="bid-info">
                    <div class="bid-title"> <span class="gradient-"><a href="08-profile-page.html">200
                        </a></span></div>
                  </div>
                </div>

              </div>
              <div class="placed-bid">
                <div class="bid-placer">

                  <div class="bid-info">
                    <div class="bid-title"> <span class="gradient-"><a href="08-profile-page.html">200
                        </a></span></div>
                  </div>
                </div>

              </div>

            </div> -->

            <ul class="db-tabs-list">

              <li class="active"
                  [ngClass]="{'active': amount === selectedAmount}"
                  (click)="changeAmount(amount)"
                  *ngFor="let amount of amounts"><a routerLink="./">
                  <div class="purchase-type-symbol"><svg class="crumina-icon">
                      <use xlink:href="#dollar-icon"></use>
                    </svg></div>
                  <div class="purchase-type-info">
                    <div class="purchase-type-title">{{ amount }}</div>

                  </div>
                </a></li>

            </ul>
          </ul>
        </div>
        <div class="place-bid d-flex">
          <button class="btn btn-wide btn-dark me-2"
                  (click)="addToCart()">Add to Cart</button>
          <button class="btn btn-wide gradient-background"
                  (click)="buyCard(content)">Buy now</button>
        </div>
        <!-- <div class="place-bid"
             (click)="addToCart()"><button class="btn btn-wide btn-dark">Buy now</button>
        </div> -->
      </div>
    </div>
    <!--  PRODUCT MAIN INFO -->
    <!--  PRODUCT BIDS -->
    <div class="bids-listing-section">
      <div class="bids-list"
           *ngFor="let address of storeService.singleData.addresses">
        <div class="small-title">Addresses</div>
        <div class="placed-bid">
          <div class="bid-placer">
            <div class="avatar box-42">
              <span class=""><i class=" text-white fas fa-map-marker-alt"></i></span>
            </div>
            <div class="bid-info">
              <div class="bid-title">{{ address.address }} <span class="gradient-text"> {{ address.city?.name }}
                </span></div>
              <div class="bid-date">{{ address.state?.name }}, {{ address.country?.name }}</div>
            </div>
          </div>

        </div>
      </div>
      <div class="bids-list">
        <div class="small-title">Payment Methods</div>
        <div class="placed-bid"
             *ngFor="let payment of storeService.singleData.payment_methods">
          <div class="bid-placer">
            <div class="avatar box-42">
              <span class=""><i class=" text-white fas fa-industry"
                   *ngIf="payment.payment_method_provider?.type_payment_method_provider?.id == 1"></i></span>
              <span class=""><i class=" text-white fas fa-mobile-android-alt"
                   *ngIf="payment.payment_method_provider?.type_payment_method_provider?.id == 2"></i></span>
            </div>
            <div class="bid-info">
              <div class="bid-title">{{ payment.payment_method_provider?.name }} </div>
              <div class="bid-date">{{ payment.account_number }}</div>
            </div>
          </div>
          <div class="bid-box">
            <div class="crypto-value">{{ payment.payment_method_provider?.type_payment_method_provider?.name }}</div>
            <!-- <div class="currency-value">12:19pm</div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  PRODUCT BIDS -->
  <!--  RELATED SECTION -->
  <div class="related-section container">
    <div class="section-title-wrapper">
      <h3>Related Items</h3>
    </div>
    <div class="featured-box grid-4-columns">
      <div class="featured-item">
        <div class="featured-item-wrapper">
          <div class="featured-item-content">
            <div class="fav-counter"><svg class="crumina-icon">
                <use xlink:href="#heart-icon"></use>
              </svg><span class="count">22</span></div>
            <div class="featured-item-image">
              <a href="05-product-page.html"><img src="./assets/img/content/items/featured-item-1.png"
                     alt=""></a>
            </div>
            <div class="featured-item-info">
              <div class="featured-countdown"><span class="clock"><svg class="crumina-icon">
                    <use xlink:href="#clock-icon"></use>
                  </svg></span><span class="js-countdown"
                      data-timer="86400"
                      data-labels="d : , h : , m : , s"></span></div>
              <div class="title"> <a href="05-product-page.html">The Molten Heart</a></div>
              <div class="item-meta"><span class="avatar box-26"> <a href="08-profile-page.html"><img src="./assets/img/avatar.png"
                         alt=""></a><span class="verified"><svg class="crumina-icon">
                      <use xlink:href="#check-icon"></use>
                    </svg></span></span>@DexterStark</div>
            </div>
          </div>
          <div class="featured-item-post-content">
            <div class="featured-item-pricebox">
              <div class="price-caption">Current BID</div>
              <div class="price">4.07 ETH</div>
            </div>
            <div class="social-share-box">
              <div class="social-caption">Share</div>
              <div class="share-icons">
                <a href="!#">
                  <svg class="crumina-icon">
                    <use xlink:href="#facebook-icon"></use>
                  </svg></a>
                <a href="!#"><svg class="crumina-icon">
                    <use xlink:href="#twitter-icon"></use>
                  </svg></a>
                <a href="!#"><svg class="crumina-icon">
                    <use xlink:href="#instagram-icon"></use>
                  </svg></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="featured-item">
        <div class="featured-item-wrapper">
          <div class="featured-item-content">
            <div class="fav-counter"><svg class="crumina-icon">
                <use xlink:href="#heart-icon"></use>
              </svg><span class="count">68</span></div>
            <div class="featured-item-image">
              <a href="06-product-page-v2.html"><img src="./assets/img/content/items/featured-item-2.png"
                     alt=""></a>
            </div>
            <div class="featured-item-info">
              <div class="featured-countdown"><span class="clock"><svg class="crumina-icon">
                    <use xlink:href="#clock-icon"></use>
                  </svg></span><span class="js-countdown"
                      data-timer="76400"
                      data-labels="d : , h : , m : , s"></span></div>
              <div class="title"><a href="06-product-page-v2.html">Social Blockz</a></div>
              <div class="item-meta"><span class="avatar box-26"><a href="08-profile-page.html"><img src="./assets/img/avatar-2.png"
                         alt=""></a><span class="verified"><svg class="crumina-icon">
                      <use xlink:href="#check-icon"></use>
                    </svg></span></span>@JackieJ</div>
            </div>
          </div>
          <div class="featured-item-post-content">
            <div class="featured-item-pricebox">
              <div class="price-caption">Current BID</div>
              <div class="price">1.96 ETH</div>
            </div>
            <div class="social-share-box">
              <div class="social-caption">Share</div>
              <div class="share-icons">
                <a href="!#">
                  <svg class="crumina-icon">
                    <use xlink:href="#facebook-icon"></use>
                  </svg></a>
                <a href="!#"><svg class="crumina-icon">
                    <use xlink:href="#twitter-icon"></use>
                  </svg></a>
                <a href="!#"><svg class="crumina-icon">
                    <use xlink:href="#instagram-icon"></use>
                  </svg></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="featured-item">
        <div class="featured-item-wrapper">
          <div class="featured-item-content">
            <div class="fav-counter"><svg class="crumina-icon">
                <use xlink:href="#heart-icon"></use>
              </svg><span class="count">105</span></div>
            <div class="featured-item-image">
              <a href="cu-07-product-page-v3.html"><img src="./assets/img/content/items/featured-item-3.png"
                     alt=""></a>
            </div>
            <div class="featured-item-info">
              <div class="featured-countdown"><span class="clock"><svg class="crumina-icon">
                    <use xlink:href="#clock-icon"></use>
                  </svg></span><span class="js-countdown"
                      data-timer="456400"
                      data-labels="d : , h : , m : , s"></span></div>
              <div class="title"> <a href="cu-07-product-page-v3.html">Breathing Nature</a></div>
              <div class="item-meta"><span class="avatar box-26"> <a href="08-profile-page.html"><img src="./assets/img/avatar.png"
                         alt=""></a><span class="verified"><svg class="crumina-icon">
                      <use xlink:href="#check-icon"></use>
                    </svg></span></span>@DexterStark</div>
            </div>
          </div>
          <div class="featured-item-post-content">
            <div class="featured-item-pricebox">
              <div class="price-caption">Current BID</div>
              <div class="price">2.31 ETH</div>
            </div>
            <div class="social-share-box">
              <div class="social-caption">Share</div>
              <div class="share-icons">
                <a href="!#">
                  <svg class="crumina-icon">
                    <use xlink:href="#facebook-icon"></use>
                  </svg></a>
                <a href="!#"><svg class="crumina-icon">
                    <use xlink:href="#twitter-icon"></use>
                  </svg></a>
                <a href="!#"><svg class="crumina-icon">
                    <use xlink:href="#instagram-icon"></use>
                  </svg></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="featured-item">
        <div class="featured-item-wrapper">
          <div class="featured-item-content">
            <div class="fav-counter"><svg class="crumina-icon">
                <use xlink:href="#heart-icon"></use>
              </svg><span class="count">60</span></div>
            <div class="featured-item-image">
              <a href="05-product-page.html"><img src="./assets/img/content/items/featured-item-4.png"
                     alt=""></a>
            </div>
            <div class="featured-item-info">
              <div class="featured-countdown"><span class="clock"><svg class="crumina-icon">
                    <use xlink:href="#clock-icon"></use>
                  </svg></span><span class="js-countdown"
                      data-timer="96400"
                      data-labels="d : , h : , m : , s"></span></div>
              <div class="title"><a href="05-product-page.html">Flow of Planets</a></div>
              <div class="item-meta"><span class="avatar box-26"><a href="08-profile-page.html"><img src="./assets/img/avatar-8.png"
                         alt=""></a><span class="verified"><svg class="crumina-icon">
                      <use xlink:href="#check-icon"></use>
                    </svg></span></span>@beardedwndr</div>
            </div>
          </div>
          <div class="featured-item-post-content">
            <div class="featured-item-pricebox">
              <div class="price-caption">Current BID</div>
              <div class="price">1.40 ETH</div>
            </div>
            <div class="social-share-box">
              <div class="social-caption">Share</div>
              <div class="share-icons">
                <a href="!#">
                  <svg class="crumina-icon">
                    <use xlink:href="#facebook-icon"></use>
                  </svg></a>
                <a href="!#"><svg class="crumina-icon">
                    <use xlink:href="#twitter-icon"></use>
                  </svg></a>
                <a href="!#"><svg class="crumina-icon">
                    <use xlink:href="#instagram-icon"></use>
                  </svg></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  RELATED SECTION -->
</div>


<ng-template #content
             let-modal>
  <div class="modal-header">
    <h4 class="modal-title"
        id="buy-now">Enter recipient details</h4>
    <button type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-add-recipient-details (recipientDetails)="buyNow($event)"></app-add-recipient-details>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline-dark"
            (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>