<div class="user-db-title mb-2">What is the occasion</div>
<ul class="db-tabs-list mb-5">
  <li (click)="giftFinderService.form.get('occasion')!.patchValue(typeOccasionEnum.HOLIDAY)"
      [ngClass]="{'active': giftFinderService.form.get('occasion')!.value == typeOccasionEnum.HOLIDAY}">
    <a>
      <div class="purchase-type-symbol">
        <span><i class="gradient-text fas fa-tree-christmas"></i></span>
      </div>
      <div class="purchase-type-info">
        <div class="purchase-type-title">Holiday</div>
        <div class="purchase-type-description">Find gifts that can be sent for special days like Father's day, Mother's day, Valentine's, Christmas
          and Eid celebrations. </div>
      </div>
    </a>
  </li>
  <li (click)="giftFinderService.form.get('occasion')!.patchValue(typeOccasionEnum.BIRTHDAY)"
      [ngClass]="{'active': giftFinderService.form.get('occasion')!.value == typeOccasionEnum.BIRTHDAY}">
    <a>
      <div class="purchase-type-symbol">
        <span><i class="gradient-text fas fa-birthday-cake"></i></span>
      </div>
      <div class="purchase-type-info">
        <div class="purchase-type-title">Birthday</div>
        <div class="purchase-type-description">Make this once a year celebration special for someone with our birthday gift options.
        </div>
      </div>
    </a>
  </li>
  <li (click)="giftFinderService.form.get('occasion')!.patchValue(typeOccasionEnum.APPRECIATION)"
      [ngClass]="{'active': giftFinderService.form.get('occasion')!.value == typeOccasionEnum.APPRECIATION}">
    <a>
      <div class="purchase-type-symbol">
        <span><i class="gradient-text fas fa-handshake-alt"></i></span>
      </div>
      <div class="purchase-type-info">
        <div class="purchase-type-title">Appreciation</div>
        <div class="purchase-type-description">Say thank you with a gift and watch how you put a smile on your recipient's face.
        </div>
      </div>
    </a>
  </li>
</ul>


<div class="user-db-title mb-2">What would you prefer to offer?</div>
<div class="row mb-5">


  <ul class="db-tabs-list mb-2">
    <li (click)="giftFinderService.form.get('type_gift')!.patchValue(typeGiftEnum.ANY)"
        [ngClass]="{'active': giftFinderService.form.get('type_gift')!.value == typeGiftEnum.ANY}"><a>
        <div class="purchase-type-symbol">
          <span><i class="gradient-text fas fa-handshake-alt"></i></span>
        </div>
        <div class="purchase-type-info">
          <div class="purchase-type-title">Any</div>
          <div class="purchase-type-description">If you do not know what type of gift you'd like to send, kindly click here. </div>
        </div>
      </a></li>
    <li (click)="giftFinderService.form.get('type_gift')!.patchValue(typeGiftEnum.PRODUCT)"
        [ngClass]="{'active': giftFinderService.form.get('type_gift')!.value == typeGiftEnum.PRODUCT}"><a>
        <div class="purchase-type-symbol">
          <span><i class="gradient-text fas fa-hand-holding-box"></i></span>
        </div>
        <div class="purchase-type-info">
          <div class="purchase-type-title">Product</div>
          <div class="purchase-type-description">We help you find the right product or service based on the details you have inputed.
          </div>
        </div>
      </a></li>
    <li (click)="giftFinderService.form.get('type_gift')!.patchValue(typeGiftEnum.EXPERIENCE)"
        [ngClass]="{'active': giftFinderService.form.get('type_gift')!.value == typeGiftEnum.EXPERIENCE}"><a>
        <div class="purchase-type-symbol">
          <span><i class="gradient-text fas fa-campfire"></i></span>
        </div>
        <div class="purchase-type-info">
          <div class="purchase-type-title">Experience</div>
          <div class="purchase-type-description">Whether you want to surprise a friend with a beach day reservation or a travel reservation, you can
            find a preferred option. </div>
        </div>
      </a></li>

  </ul>

</div>


<div class="user-db-title mb-2">What would be your budget?</div>
<ul class="db-tabs-list mb-5">
  <li (click)="giftFinderService.form.get('budget')!.patchValue(ANY_AMOUNT)"
      [ngClass]="{'active': giftFinderService.form.get('budget')!.value == ANY_AMOUNT}"><a>
      <div class="purchase-type-symbol">
        <svg class="crumina-icon">
          <use xlink:href="#dollar-icon"></use>
        </svg>
      </div>
      <div class="purchase-type-info">
        <div class="purchase-type-title">Any</div>

      </div>
    </a>
  </li>
  <li (click)="giftFinderService.form.get('budget')!.patchValue(LESS_THAN_200)"
      [ngClass]="{'active': giftFinderService.form.get('budget')!.value == LESS_THAN_200}"><a>
      <div class="purchase-type-symbol">
        <svg class="crumina-icon">
          <use xlink:href="#dollar-icon"></use>
        </svg>
      </div>
      <div class="purchase-type-info">
        <div class="purchase-type-title">
          < 200</div>

        </div>
    </a>
  </li>

  <li (click)="giftFinderService.form.get('budget')!.patchValue(300)"
      [ngClass]="{'active': giftFinderService.form.get('budget')!.value == 300}"><a>
      <div class="purchase-type-symbol">
        <svg class="crumina-icon">
          <use xlink:href="#dollar-icon"></use>
        </svg>
      </div>
      <div class="purchase-type-info">
        <div class="purchase-type-title">300</div>

      </div>
    </a>
  </li>
  <li (click)="giftFinderService.form.get('budget')!.patchValue(400)"
      [ngClass]="{'active': giftFinderService.form.get('budget')!.value == 400}"><a>
      <div class="purchase-type-symbol">
        <svg class="crumina-icon">
          <use xlink:href="#dollar-icon"></use>
        </svg>
      </div>
      <div class="purchase-type-info">
        <div class="purchase-type-title">400</div>

      </div>
    </a>
  </li>
  <li (click)="giftFinderService.form.get('budget')!.patchValue(500)"
      [ngClass]="{'active': giftFinderService.form.get('budget')!.value == 500}"><a>
      <div class="purchase-type-symbol">
        <svg class="crumina-icon">
          <use xlink:href="#dollar-icon"></use>
        </svg>
      </div>
      <div class="purchase-type-info">
        <div class="purchase-type-title">500</div>

      </div>
    </a>
  </li>
  <li (click)="giftFinderService.form.get('budget')!.patchValue(600)"
      [ngClass]="{'active': giftFinderService.form.get('budget')!.value == 600}"><a>
      <div class="purchase-type-symbol">
        <svg class="crumina-icon">
          <use xlink:href="#dollar-icon"></use>
        </svg>
      </div>
      <div class="purchase-type-info">
        <div class="purchase-type-title">600</div>

      </div>
    </a>
  </li>
  <li (click)="giftFinderService.form.get('budget')!.patchValue(MORE_THAN_600)"
      [ngClass]="{'active': giftFinderService.form.get('budget')!.value == MORE_THAN_600}"><a>
      <div class="purchase-type-symbol">
        <svg class="crumina-icon">
          <use xlink:href="#dollar-icon"></use>
        </svg>
      </div>
      <div class="purchase-type-info">
        <div class="purchase-type-title"> > 600</div>

      </div>
    </a>
  </li>

</ul>