<!-- <app-store-registration-basic-information-create></app-store-registration-basic-information-create> -->

<ng-container *ngIf="store && authService.isStoreSetup">
  <div class="row">
    <div class="col-12 text-end">
      <button class="btn btn-black"
              (click)="openModal(content)"> <svg class="crumina-icon">
          <use xlink:href="#settings-icon"></use>
        </svg> Edit </button>
    </div>
  </div>
  <div class="row mb-5">
    <!-- Name -->
    <div class="col-4">
      <div class="gradient-text title"> Store Name </div>
      <div class="content"> {{ store.name }} </div>
    </div>

    <!-- Type -->
    <div class="col-4">
      <div class="gradient-text title"> Type  Store</div>
      <div class="content"> {{ store.type_store?.name }} </div>
    </div>


    <!-- Category -->
    <div class="col-4">
      <div class="gradient-text title"> Category  Store </div>
      <div class="content"> {{ store.category_store?.name }} </div>
    </div>

  </div>

  <div class="row mb-5">
    <!-- Email -->
    <!-- <div class="col-4">
      <div class="gradient-text title"> Email </div>
      <div class="content"> {{ store.email }} </div>
    </div> -->

    <!-- Phone number -->
    <div class="col-4">
      <div class="gradient-text title">Store Phone number </div>
      <div class="content"> {{ store.phone_number }} </div>
    </div>


    <!-- Online link -->
    <div class="col-4">
      <div class="gradient-text title">Store Online link </div>
      <div class="content"> {{ store.store_online_link }} </div>
    </div>

  </div>

  <!-- Description -->
  <div class="row">
    <div class="gradient-text title"> Description </div>
    <div class="content"> {{ store.description }}</div>
  </div>
</ng-container>


<div class="row mt-5"
     *ngIf="store && !authService.isStoreSetup"
     (click)="openModal(content)">
  <div class="col-12 text-center">
    <button class="btn btn-wide btn-square btn-dark">Complete your store registration</button>
  </div>
</div>


<ng-template #content
             let-d="dismiss"
             let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center w-100"><span class="gradient-text">Complete your </span> store information</h4>
    <button type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body p-5">
    <app-store-registration-basic-information-create></app-store-registration-basic-information-create>

  </div>

</ng-template>