<div class="primary-content-area container content-padding cu-shopping-cart-page">
  <div class="page-title-section">
    <h2>Shopping <span class="gradient-text">Cart</span></h2>
  </div>
  <div class="cu-shopping-cart-area grid-right-sidebar">
    <!--      shopping cart -->
    <div class="cu-shopping-cart">
      <table class="content-table">
        <thead>
          <tr>
            <th scope="col"
                class="heading-label">Item details</th>
            <th scope="col"
                class="heading-label">Card design</th>
            <th scope="col"
                class="heading-label">Price</th>
            <th scope="col"
                class="heading-label"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartService.data">
            <td data-label="Item details">
              <div class="product-info">
                <div class="product-thumb"><a [routerLink]="['/', 'products', item.product.id, 'details']">
                    <img [src]="item.product.cardImage"
                         alt=""></a>
                </div>
                <div class="product-details">
                  <div class="product-name"><a href="07-product-page.html">{{ item.product.cardName }}</a></div>
                  <div class="product-meta">
                    <!-- <div class="item-category ui-templates">{{ item.product.provider }}</div> -->
                    <div class="product-seller">
                      @{{ item.product.store }}<span class="verified"><svg class="crumina-icon">
                          <use xlink:href="#check-icon"></use>
                        </svg></span>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td data-label="License">
              <form>
                <select class="select-nice">
                  <option value="regular">Regular</option>
                  <option value="commercial">Custom</option>
                  <option value="extended">Extended</option>
                </select>
              </form>
            </td>
            <td data-label="price"
                class="price">{{ item.amount }}</td>
            <td><button class="close"><svg class="crumina-icon">
                  <use xlink:href="#close-circle-icon"></use>
                </svg></button></td>
          </tr>

        </tbody>
      </table>

    </div>
    <!--    cart total box -->
    <aside>
      <div class="cart-total-box">
        <div class="cart-total-wrapper">
          <div class="small-title">Order Total</div>
          <div class="total-price"> GHC {{ cartService.totalAmount }}</div>
          <!-- <div class="total-price-details">
            <div class="field">
              <div class="label">Cart</div>
              <div class="value">$120.00</div>
            </div>
            <div class="field">
              <div class="label">Code</div>
              <div class="value">-$5.00</div>
            </div>
            <div class="field">
              <div class="label">Total</div>
              <div class="value">$115.00</div>
            </div>
          </div> -->
          <div class="to-checkout-button">
            <a class="btn btn-fullwidth gradient-background"
               [routerLink]="['/', 'checkout']">Proceed to
              Checkout</a>
          </div>

        </div>
      </div>
    </aside>
  </div>
</div>