<div class="primary-content-area profile-page">
  <!--  PROFILE HEADER SECTION -->
  <div class="profile-header-section">
    <div class="cover-image"><img src="./assets/img/content/profile/profile-cover-1.png"
           alt=""></div>
    <div class="about-author-section container">
      <div class="profile-header-user-profile">
        <div class="avatar box-152">
          <a href="08-profile-page.html"><img src="./assets/img/avatar.png"
                 alt=""></a>
          <span class="verified"><svg class="crumina-icon">
              <use xlink:href="#check-icon"></use>
            </svg></span>
        </div>
        <div class="follow-box">
          <div class="more-link"><a href="#">
              <svg class="crumina-icon">
                <use xlink:href="#dots-icon"></use>
              </svg>
            </a>
          </div>
          <button class="btn btn-normal btn-dark">Explore</button>
        </div>
      </div>
      <div class="author-primary-info">
        <div class="activity-meta">

          <div class="following-number">
            <div class="number"></div>
            <div class="label"></div>
          </div>
          <div class="likes-number">
            <div class="number"></div>
            <div class="label"></div>
          </div>
          <div class="likes-number">
            <div class="number"></div>
            <div class="label"></div>
          </div>
        </div>
        <div class="profile-author-info">
          <h3 class="author-name gradient-text"><a href="08-profile-page.html">Patience Ayeni</a></h3>
          <div class="author-meta">@patienceayeni</div>
          <!-- <div class="download-file">
            Ox465d53...d9c6
            <svg class="crumina-icon">
              <use xlink:href="#copy-icon"></use>
            </svg>
          </div> -->
        </div>
        <div class="projects-meta">
          <div class="projects-number">
            <div class="number"></div>
            <div class="label"></div>
          </div>
          <div class="onsale-number">
            <div class="number"></div>
            <div class="label"></div>
          </div>

        </div>
      </div>
      <div class="author-description">
        <p>
        </p>
        <ul class="social-icons-list">
          <li class="social-icon icon-border"><a href="#">
              <svg class="crumina-icon">
                <use xlink:href="#link-icon"></use>
              </svg>
            </a></li>
          <li class="social-icon icon-border"><a href="#">
              <svg class="crumina-icon">
                <use xlink:href="#facebook-icon"></use>
              </svg>
            </a></li>
          <li class="social-icon icon-border"><a href="#">
              <svg class="crumina-icon">
                <use xlink:href="#twitter-icon"></use>
              </svg>
            </a></li>
          <li class="social-icon icon-border"><a href="#">
              <svg class="crumina-icon">
                <use xlink:href="#instagram-icon"></use>
              </svg>
            </a></li>
          <li class="social-icon icon-border"><a href="#">
              <svg class="crumina-icon">
                <use xlink:href="#twitch-icon"></use>
              </svg>
            </a></li>
        </ul>
      </div>

    </div>
  </div>
  <!--  PROFILE HEADER SECTION -->
  <!--  MOBILE PROFILE HEADER SECTION -->
  <div class="profile-header-mobile">
    <div class="cover-image"><img src="./assets/img/content/profile/profile-cover-1.png"
           alt=""></div>
    <div class="about-author-section container">
      <div class="profile-header-user-profile">
        <div class="avatar box-64 bordered">
          <a href="08-profile-page.html"><img src="./assets/img/avatar.png"
                 alt=""></a>
          <span class="verified"><svg class="crumina-icon">
              <use xlink:href="#check-icon"></use>
            </svg></span>
        </div>
        <div class="profile-author-info">
          <h5 class="author-name gradient-text"><a href="08-profile-page.html">Patience Ayeni</a></h5>
          <div class="author-meta">@pateinceayeni</div>
          <!-- <div class="download-file">
            Ox465d53...d9c6
            <svg class="crumina-icon">
              <use xlink:href="#copy-icon"></use>
            </svg>
          </div> -->
        </div>
      </div>
      <div class="follow-container">
        <div class="more-link-wrapper">
          <div class="more-link"><a href="#">
              <svg class="crumina-icon">
                <use xlink:href="#dots-icon"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="follow-box">
          <button class="btn btn-wide btn-dark">Explore!</button>
        </div>
      </div>
    </div>
    <ul class="social-icons-list">
      <li class="social-icon icon-border"><a href="#">
          <svg class="crumina-icon">
            <use xlink:href="#link-icon"></use>
          </svg>
        </a></li>
      <li class="social-icon icon-border"><a href="#">
          <svg class="crumina-icon">
            <use xlink:href="#facebook-icon"></use>
          </svg>
        </a></li>
      <li class="social-icon icon-border"><a href="#">
          <svg class="crumina-icon">
            <use xlink:href="#twitter-icon"></use>
          </svg>
        </a></li>
      <li class="social-icon icon-border"><a href="#">
          <svg class="crumina-icon">
            <use xlink:href="#instagram-icon"></use>
          </svg>
        </a></li>
      <li class="social-icon icon-border"><a href="#">
          <svg class="crumina-icon">
            <use xlink:href="#twitch-icon"></use>
          </svg>
        </a></li>
    </ul>
    <div class="author-primary-info">
      <div class="activity-meta">
        <div class="followers-number">
          <div class="number">903</div>
          <div class="label">Shared</div>
        </div>
        <div class="following-number">
          <div class="number">56</div>
          <div class="label">Recieved</div>
        </div>
        <div class="projects-number">
          <div class="number">135</div>
          <div class="label">Purchased</div>
        </div>
      </div>
    </div>
  </div>

  <!-- MAIN CONTENT AREA -->
  <div class="primary-content-area container content-padding">
    <div class="wallet-wrapper section-small">
      <!-- <div class="section-title text-center"><span class="gradient-text">Connect</span> your Wallet</div> -->
      <div class="wallet-grid">
        <a [routerLink]="['items', 'purchased']"
           class="wallet-item orange-gradient">
          <div class="wallet-icon"><img src="./assets/img/content/wallet/icon-1.png"
                 alt=""></div>
          <div class="wallet-info">
            <div class="title h5">Purchased</div>
            <div class="description">Find out record of your purchased gift by clicking <a href="#">here</a></div>
          </div>
        </a>
        <a [routerLink]="['items', 'shared']"
           class="wallet-item turquoise-gradient">
          <div class="wallet-icon"><img src="./assets/img/content/wallet/icon-2.png"
                 alt=""></div>
          <div class="wallet-info">
            <div class="title h5">Shared</div>
            <div class="description">Find out record of your shared gift by clicking <a href="#">here</a></div>
          </div>
        </a>
        <a [routerLink]="['items', 'received']"
           class="wallet-item purple-gradient">
          <div class="wallet-icon"><img src="./assets/img/content/wallet/icon-3.png"
                 alt=""></div>
          <div class="wallet-info">
            <div class="title h5">Received</div>
            <div class="description">Find out record of your received gift by clicking <a href="#">here</a></div>
          </div>
        </a>
        <a [routerLink]="['items', 'redeemed']"
           class="wallet-item green-gradient">
          <div class="wallet-icon"><img src="./assets/img/content/wallet/icon-4.png"
                 alt=""></div>
          <div class="wallet-info">
            <div class="title h5">Redeemed</div>
            <div class="description">Find out record of your redeemed gift by clicking <a href="#">here</a></div>
          </div>
        </a>
      </div>
      <!-- <div class="notification-text text-center">
        New to wallets? <a href="19-faq.html">Learn how to make a wallet</a> in our FAQs page<br> and check
        other helpful guides to get started!
      </div> -->
    </div>

  </div>
  <!-- MAIN CONTENT AREA -->

</div>