<!-- <div class="page-title text-center">
  <h2><span class="gradient-text">Add your business</span> address</h2>
</div> -->
<form class="cryptoki-form validation"
      id="contact-form"
      [formGroup]="form"
      *ngIf="form"
      (submit)="create()"
      novalidate="">
  <input type="hidden"
         name="recaptcha_site_key"
         value="">
  <input type="hidden"
         name="recaptcha_token"
         value="">

  <!-- Country and State -->
  <div class="form-group">
    <!-- Country -->
    <div class="form-field">
      <label for="subject">Country</label>
      <select class="select-nice"
              name="email_subject"
              (change)="selectFormHandler('country_id', $event.target)"
              id="subject"
              data-val="\S"
              data-val-msg="* Please, select an option."
              data-val-msg-id="selectMessage"
              required="">
        <option value="">Select an Option</option>
        <option [value]="country.id"
                *ngFor="let country of countryList">{{ country.name }}</option>
      </select>
      <span class="input_error-message"
            id="selectMessage"></span>
    </div>


    <!-- State -->
    <div class="form-field">
      <label for="subject">State</label>
      <select class="select-nice"
              name="email_subject"
              (change)="selectFormHandler('state_id', $event.target)"
              id="subject"
              data-val="\S"
              data-val-msg="* Please, select an option."
              data-val-msg-id="selectMessage"
              required="">
        <option value="">Select an Option</option>
        <option [value]="state.id"
                *ngFor="let state of stateList">{{ state.name }}</option>
      </select>
      <span class="input_error-message"
            id="selectMessage"></span>
    </div>


  </div>

  <!-- City and address  -->
  <div class="form-group">
    <!-- City -->
    <div class="form-field">
      <label for="subject">City</label>
      <select class="select-nice"
              name="email_subject"
              (change)="selectFormHandler('city_id', $event.target)"
              id="subject"
              data-val="\S"
              data-val-msg="* Please, select an option."
              data-val-msg-id="selectMessage"
              required="">
        <option value="">Select an Option</option>
        <option [value]="city.id"
                *ngFor="let city of cityList">{{ city.name }}</option>
      </select>
      <span class="input_error-message"
            id="selectMessage"></span>
    </div>

    <!-- Address -->
    <div class="form-field">
      <label for="name">Address</label>
      <input type="text"
             name="name"
             formControlName="address"
             id="name"
             data-val="\S"
             data-val-msg="* This is a required field."
             data-val-msg-id="textMessage"
             required="">
      <span class="input_error-message"
            id="textMessage"></span>
    </div>

  </div>


  <!-- Google maps link -->
  <!-- Address -->
  <div class="form-field">
    <label for="name">Google maps link</label>
    <input type="url"
           name="name"
           formControlName="google_maps_link"
           id="name"
           data-val="\S"
           data-val-msg="* This is a required field."
           data-val-msg-id="textMessage"
           required="">
    <span class="input_error-message"
          id="textMessage"></span>
  </div>




  <!-- <div class="form-field">
        <label for="subject">Subject</label>
        <select class="select-nice"
                name="email_subject"
                id="subject"
                data-val="\S"
                data-val-msg="* Please, select an option."
                data-val-msg-id="selectMessage"
                required="">
          <option value="">Select an Option</option>
          <option value="technical-support-general-help">Techhnical Support and/or General Help</option>
          <option value="pre-sale">Pre-Sale Question</option>
          <option value="partnership-request">Partnership Request</option>
        </select>
        <span class="input_error-message"
              id="selectMessage"></span>
      </div>
      <div class="form-field comment-area">
        <label for="message">Your comment</label>
        <textarea id="message"
                  name="message"
                  class="comment-form message"
                  cols="30"
                  rows="10"
                  data-val="\S"
                  data-val-msg="* Please, type a message."
                  data-val-msg-id="textareaMessage"
                  required=""></textarea>
        <span class="input_error-message"
              id="textareaMessage"></span>
      </div> -->

  <button type="submit"
          style="display: block"
          [disabled]="loading || !form.valid"
          class="btn  btn-fullwidth btn-dark"
          data-badge="inline">Send <app-loading *ngIf="loading"></app-loading></button>
</form>
<!-- <div class="register-notice">
      You’ll receive a confirmation email in your inbox with a link to activate your account.
    </div> -->