<div class="product-page product-version-3"
     *ngIf="single">
  <!--  PRODUCT HEADER AREA -->
  <div class="page-title-section">

    <!-- <div class="product-title">
                      <h1>{{ single.card.name }}</h1>
                    </div> -->

  </div>
  <!--  PRODUCT HEADER AREA -->
  <!--  PRODUCT MAIN INFO -->
  <div class="product-main-info">
    <div class="product-info">

      <div class="product-description">
        <div class="small-title">Description</div>
        <p>{{ single.description }}
        </p>
      </div>



    </div>
    <div class="product-media gradient-border_white-bg ">
      <a class="expand-icon"
         data-fslightbox="gallery"
         [routerLink]="['/', single.logo?.url]">
        <svg class="crumina-icon">
          <use xlink:href="#maximize-icon"></use>
        </svg>
      </a>
      <div class="product-img">
        <img [src]="single.logo?.url"
             alt="">
      </div>
    </div>
    <div class="product-meta-section">
      <div class="product-meta-item">
        <div class="small-title">Minimum Price</div>
        <div class="value">GHC {{ single.card_min_price }}</div>
        <!-- <div class="caption">Two Thousand Ghana Cedis</div> -->
      </div>




      <div class="product-description">
        <div class="small-title">Amount</div>
        <ul class="details-list">
          <!-- <li><svg class="crumina-icon bullet-icon">
                                            <use xlink:href="#circle-icon"></use>
                                          </svg><span class="detail-label">Content</span><span class="bold">Baby's Clothing</span></li>
                                        <li><svg class="crumina-icon bullet-icon">
                                            <use xlink:href="#circle-icon"></use>
                                          </svg><span class="detail-label">Age</span><span class="bold">1-5 Years</span></li> -->
          <!-- <div style="display: flex; justify-content: space-between;">

                              <div class="placed-bid">
                                <div class="bid-placer">

                                  <div class="bid-info">
                                    <div class="bid-title"> <span class="gradient-"><a href="08-profile-page.html">200
                                        </a></span></div>
                                  </div>
                                </div>

                              </div>
                              <div class="placed-bid">
                                <div class="bid-placer">

                                  <div class="bid-info">
                                    <div class="bid-title"> <span class="gradient-"><a href="08-profile-page.html">200
                                        </a></span></div>
                                  </div>
                                </div>

                              </div>
                              <div class="placed-bid">
                                <div class="bid-placer">

                                  <div class="bid-info">
                                    <div class="bid-title"> <span class="gradient-"><a href="08-profile-page.html">200
                                        </a></span></div>
                                  </div>
                                </div>

                              </div>
                              <div class="placed-bid">
                                <div class="bid-placer">

                                  <div class="bid-info">
                                    <div class="bid-title"> <span class="gradient-"><a href="08-profile-page.html">200
                                        </a></span></div>
                                  </div>
                                </div>

                              </div>

                            </div> -->

          <ul class="db-tabs-list">

            <li class="active"
                [ngClass]="{'active': amount === selectedAmount}"
                (click)="changeAmount(amount)"
                *ngFor="let amount of amounts"><a routerLink="./">
                <div class="purchase-type-symbol"><svg class="crumina-icon">
                    <use xlink:href="#dollar-icon"></use>
                  </svg></div>
                <div class="purchase-type-info">
                  <div class="purchase-type-title">{{ amount }}</div>
                </div>
              </a></li>

          </ul>
        </ul>
      </div>
      <div class="place-bid d-flex">
        <button class="btn btn-wide w-100 btn-dark me-2"
                (click)="addToCart()">Get this card for {{ selectedAmount / 0.9 | number: '1.2-2'}} points</button>
        <!-- <button class="btn btn-wide gradient-background"
                (click)="buyCard(content)">Buy now</button> -->
      </div>
      <!-- <div class="place-bid"
                             (click)="addToCart()"><button class="btn btn-wide btn-dark">Buy now</button>
                        </div> -->
    </div>
  </div>
  <!--  PRODUCT MAIN INFO -->
  <!--  PRODUCT BIDS -->

</div>

<ng-template #content
             let-modal>
  <div class="modal-header">
    <h4 class="modal-title"
        id="buy-now">Enter recipient details</h4>
    <button type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <!-- <app-add-recipient-details (recipientDetails)="buyNow($event)"></app-add-recipient-details> -->
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline-dark"
            (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>