/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
// @import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

/* Importing Bootstrap SCSS file. */

.modal-content {
  border-radius: 20px;
}

.logo .logo-img,
.logo .logo-img svg {
  width: 148px;
  height: auto;
  /* height: 0px; */
  margin-right: 10px;
}

.btn:hover {
  border-color: none;
}

::ng-deep {
  .modal-backdrop {
    height: 100% !important;
  }
}

.logo .logo-img2 {
  width: 68px;
  margin-right: 0px;
}
