<div class="primary-content-area bottom-padding-70">
  <div class="section-padding">
    <div id="homeSlider"
         class="swiper">
      <div class="swiper-wrapper"
           style="justify-content: center;">
        <div id="slide-2"
             class="swiper-slide slide-content-align-right">
          <!-- <picture>
                <source type="image/avif" srcset="./assets/avif/content/slider/slider-img-1.avif" />
                <img src="./assets/img/content/slider/slider-img-1.jpg" width="940" height="640" alt="Slide Image">
              </picture> -->
          <img src="./assets/img/content/slider/slider-img-1.jpg"
               width="940"
               height="640"
               alt="Slide Image" />
          <div class="dark-overlay"></div>
          <div class="slide-content">
            <div class="slide-subtitle">WELCOME TO CARDUP PRO</div>
            <div class="slide-title">Discover the Best Gifts!</div>
            <div class="gradient-border-purple-bg slide-button">
              <a class="btn btn-normal"
                 href="cu-02-explore.html">Shop Now!</a>
            </div>
          </div>
        </div>

      </div>
      <div class="homeslider-nav">
        <div class="swiper-button-next">
          <svg class="crumina-icon next-button">
            <use xlink:href="#arrow-right2-icon"></use>
          </svg>
        </div>
        <div class="swiper-button-prev">
          <svg class="crumina-icon prev-button">
            <use xlink:href="#arrow-left2-icon"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>

  <div class="wallet-wrapper section-medium">
    <div class="section-title text-center"><span class="gradient-text">How</span> it Works</div>
    <div class="featured-box-wrapper grid-4-columns">
      <div class="wallet-item orange-gradient">

        <div class="wallet-info">
          <div class="title h5">Find Gift</div>
          <div class="description">Find out record of your purchased gift by clicking <a href="#">here</a></div>
        </div>
      </div>
      <div class="wallet-item turquoise-gradient">

        <div class="wallet-info">
          <div class="title h5">Select Gift Store</div>
          <div class="description">Find out record of your shared gift by clicking <a href="#">here</a></div>
        </div>
      </div>
      <div class="wallet-item purple-gradient">

        <div class="wallet-info">
          <div class="title h5">Send Gift</div>
          <div class="description">Find out record of your received gift by clicking <a href="#">here</a></div>
        </div>
      </div>

    </div>
    <div class="notification-text text-center">
      New to Nyira? <a href="19-faq.html">Learn how to make happy with your gift</a> in our FAQs page<br> and check
      other helpful guides to get started!
    </div>
  </div>

  <div class="become-creator-bc-box container section-padding-medium">
    <div class="bc-info">
      <div class="bc-heading">
        <div class="bc-heading-subtitle"></div>
        <div class="bc-heading-title">Become a <span class="gradient-text">Merchant</span>
        </div>
      </div>
      <div class="bc-description">Join thousands of other creators and start earning with your art,
        artworks, videos or art creations! The process takes only a few seconds, just fill the form and
        we’ll contact you</div>
      <div class="bc-button"><a class="btn btn-wide btn-dark"
           href="#application-form">Send Gift</a>
      </div>
    </div>
    <div class="bc-image"><img
           src="https://assets-global.website-files.com/63c088cc8d60b76bc1a3fca2/63f90c81876a836a2eeeb4ed_Hero-Image-1-v3-p-500.png"
           alt=""></div>
  </div>

  <div class="container section-padding">
    <div class="section-title-wrapper">
      <div class="section-title">
        <span class="gradient-text">Stores</span>
      </div>
      <div class="all-items-link">
        <a href="cu-02-explore.html">Explore all Items</a>
      </div>
    </div>
    <div class="featured-box">
      <div class="featured-box-wrapper grid-4-columns">
        <div class="featured-item"
             *ngFor="let item of data">
          <div class="featured-item-wrapper">
            <div class="featured-item-content">
              <div class="fav-counter">
                <svg class="crumina-icon">
                  <use xlink:href="#heart-icon"></use>
                </svg><span class="count">22</span>
              </div>
              <div class="featured-item-image">
                <a [routerLink]="['products', item.id, 'details']">
                  <picture>
                    <!-- <source type="image/avif"
                            srcset="./assets/avif/content/items/featured-item-5.avif" /> -->
                    <img [src]="item.storeLogo"
                         width="304"
                         height="340"
                         loading="lazy"
                         alt="Featured" />
                  </picture>
                </a>
              </div>
              <div class="featured-item-info">
                <div class="title">
                  <a href="06-product-page-v2.html">{{ item.store }}</a>
                </div>
                <div class="item-meta">
                  <span class="avatar box-26">
                    <a href="08-profile-page.html">
                      <picture>
                        <source type="image/avif"
                                srcset="./assets/avif/avatar.avif" />
                        <img src="img/avatar.png"
                             alt="avatar"
                             loading="lazy"
                             width="100"
                             height="100" />
                      </picture>
                    </a>
                    <span class="verified"><svg class="crumina-icon">
                        <use xlink:href="#check-icon"></use>
                      </svg></span>
                  </span>
                  @DexterStark
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="more-section flex-center">
        <a class="btn btn-normal btn-dark"
           href="03-explore-v2.html">View All Items</a>
      </div>
    </div>
  </div>





</div>