<div class="primary-content-area bottom-padding-70">
  <div class="section-padding">
    <div id="homeSlider"
         class="swiper">
      <div class="swiper-wrapper"
           style="justify-content: center">
        <div id="slide-2"
             class="swiper-slide slide-content-align-right">
          <!-- <picture>
                <source type="image/avif" srcset="./assets/avif/content/slider/slider-img-1.avif" />
                <img src="./assets/img/content/slider/slider-img-1.jpg" width="940" height="640" alt="Slide Image">
              </picture> -->
          <img src="./assets/img/content/slider/slider-img-1.jpg"
               width="1200"
               height="1200"
               alt="Slide Image" />
          <div class="dark-overlay"></div>
          <div class="slide-content">
            <div class="slide-subtitle">WELCOME TO CHEERFUL</div>
            <div class="slide-title">Discover the Best Gifts!</div>
            <div class="gradient-border-purple-bg slide-button">
              <a class="btn btn-normal"
                 [routerLink]="['/', 'explore']">Shop Now!</a>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="homeslider-nav">
        <div class="swiper-button-next">
          <svg class="crumina-icon next-button">
            <use xlink:href="#arrow-right2-icon"></use>
          </svg>
        </div>
        <div class="swiper-button-prev">
          <svg class="crumina-icon prev-button">
            <use xlink:href="#arrow-left2-icon"></use>
          </svg>
        </div>
      </div> -->
    </div>
  </div>

  <div class="wallet-wrapper section-medium">
    <div class="section-title text-center">
      <span class="gradient-text">How</span> it Works
    </div>
    <div class="featured-box-wrapper grid-4-columns">
      <div class="wallet-item orange-gradient">
        <div class="wallet-icon">
          <img src="https://img.icons8.com/ios/50/search--v3.png"
               alt="" />
          <!-- <img width="64" height="64" src="" alt="external-search-valentines-day-justicon-blue-justicon"/> -->
        </div>
        <div class="wallet-info">
          <div class="title h5">Find Gift</div>
          <div class="description">
            Click <a (click)="openModal(giftFinder)">here</a> to see the perfect gift for you by answering three questions
          </div>
        </div>
      </div>
      <div class="wallet-item turquoise-gradient">
        <div class="wallet-icon">
          <img src="https://img.icons8.com/wired/64/online-store.png"
               alt="" />
        </div>
        <div class="wallet-info">
          <div class="title h5">Select Gift Store</div>
          <div class="description">
            Select gift store to continue with the purchase of the gift
          </div>
        </div>
      </div>
      <div class="wallet-item purple-gradient">
        <div class="wallet-icon">
          <img src="https://img.icons8.com/ios-filled/50/gift-card.png"
               alt="" />
        </div>
        <div class="wallet-info">
          <div class="title h5">Send Gift</div>
          <div class="description">
            Write a personalised message and then send it to the recipient
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="notification-text text-center">
      New to Cherry?
      <a href="19-faq.html">Learn how to make happy with your gift</a> in our
      FAQs page<br />
      and check other helpful guides to get started!
    </div> -->
  </div>

  <div class="container section-padding">
    <div class="section-title-wrapper">
      <div class="section-title">
        <span class="gradient-text">Stores</span>
      </div>
      <div class="all-items-link">
        <a [routerLink]="['/', 'explore']">Explore all Items</a>
      </div>
    </div>
    <div class="featured-box">
      <app-page-loading *ngIf="loading"></app-page-loading>
      <div class="featured-box-wrapper row"
           *ngIf="!loading">
        <ng-container *ngFor="let item of data">
          <div class="featured-item col-3"
               *ngIf="item.card">
            <div class="featured-item-wrapper">
              <div class="featured-item-content">
                <div class="featured-item-image">
                  <a [routerLink]="['products', item.id, 'details']">
                    <picture>
                      <!-- <source type="image/avif"
                                      srcset="./assets/avif/content/items/featured-item-5.avif" /> -->
                      <img [src]="item.card?.card_image.url"
                           width="304"
                           height="340"
                           loading="lazy"
                           alt="Featured" />
                    </picture>
                  </a>
                </div>
                <div class="featured-item-info">
                  <div class="title">
                    <a [routerLink]="['products', item.id, 'details']">{{ item.name }}</a>
                  </div>
                  <div class="item-meta">
                    <span class="avatar box-26">
                      <a [routerLink]="['products', item.id, 'details']">
                        <picture>
                          <source type="image/avif"
                                  srcset="./assets/avif/avatar.avif" />
                          <img [src]="item.store_logo_image.url"
                               alt="avatar"
                               loading="lazy"
                               width="100"
                               height="100" />
                        </picture>
                      </a>
                      <span class="verified"><svg class="crumina-icon">
                          <use xlink:href="#check-icon"></use>
                        </svg></span>
                    </span>
                    @{{ item.name }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
      <div class="more-section flex-center">
        <a class="btn btn-normal btn-dark"
           [routerLink]="['/explore']">View All Items</a>
      </div>
    </div>
  </div>

  <div class="primary-content-area container">

    <div class="call-to-action-box">
      <!-- <div class="animated-img"></div> -->
      <div class="call-to-action-text">
        <div class="section-small section-padding">
          <div class="become-seller-block">
            <img src="./assets/img/content/creators/become-creator.png"
                 alt="" />
            <div class="text-content">
              <div class="subtitle">GIFT FINDER</div>
              <div class="title">
                Need help to find the
                <br />
                PERFECT GIFT?<br>
              </div>
              <div class="subscribe-form"
                   style="margin-top: 10px;">
                <a [routerLink]="['./']"
                   (click)="openModal(giftFinder)"
                   class="btn btn-normal btn-dark">Find Gift!</a>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>


    <div class="container section-padding">
      <div class="section-title-wrapper">
        <div class="section-title">
          Browse <span class="gradient-text">Categories</span>
        </div>
        <!-- <div class="title-navigation">
          <div class="items-categories-icon swiper-button-prev">
            <svg class="crumina-icon">
              <use xlink:href="#arrow-left2-icon"></use>
            </svg>
          </div>
          <div class="items-categories-icon swiper-button-next">
            <svg class="crumina-icon">
              <use xlink:href="#arrow-right2-icon"></use>
            </svg>
          </div>
        </div> -->
      </div>

      <div class="featured-box-wrapper grid-4-columns">
        <!-- TODO: Put the appropriate filter for the following categories -->
        <div class="featured-item">
          <div class="featured-item-content">
            <a [routerLink]="['explore']">
              <div class="category-card turquoise-gradient-diagonal">
                <div class="category-wrapper"
                     style="background-image: url(https://img.goldbelly.com/consumer/homepage/hero-lg-3.jpg?auto=format&ar=1%3A0.413&ixlib=react-9.0.2&w=1946https://img.goldbelly.com/consumer/homepage/hero-lg-2.jpg?auto=format&ar=1%3A0.413&ixlib=react-9.0.2&w=1946);
                  object-fit: cover;">
                  <div class="category-content">
                    <div class="category-title">Food</div>
                    <!-- <div class="category-meta">537 Items</div> -->
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="featured-item">
          <div class="featured-item-content">
            <a [routerLink]="['explore']">
              <div class="category-card orange-gradient-diagonal">
                <div class="category-wrapper"
                     style="
                    background-image: url(https://www.bystadium.com/wp-content/uploads/2023/06/Mask-group@3x-1.png);
                  ">
                  <div class="category-content">
                    <div class="category-title">Clothing</div>
                    <!-- <div class="category-meta">537 Items</div> -->
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="featured-item">
          <div class="featured-item-content">
            <a [routerLink]="['explore']">
              <div class="category-card purple-gradient-diagonal">
                <div class="category-wrapper"
                     style="
                    background-image: url(https://www.josalukkasonline.com/Media/large_jos-alukkas-Gold-Necklace--JAD7PG-tYwo.png);
                  ">
                  <div class="category-content">
                    <div class="category-title">Jeweleries</div>
                    <!-- <div class="category-meta">537 Items</div> -->
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

      </div>

      <!--  items categories carousel -->
      <!-- featured items grid -->
    </div>



    <div class="become-creator-bc-box container section-padding-medium">
      <div class="bc-info">
        <div class="bc-heading">
          <div class="bc-heading-subtitle"></div>
          <div class="bc-heading-title">
            Become a <span class="gradient-text">Merchant</span>
          </div>
        </div>
        <div class="bc-description">
          Join thousands of other merchant and start earning,
          The process takes only a few
          seconds, just fill the form and we’ll contact you
        </div>
        <div class="bc-button">
          <a class="btn btn-wide btn-dark"
             [routerLink]="['authentication', 'signup']">Register</a>
        </div>
      </div>
      <div class="bc-image">
        <img src="./assets/img/content/backgrounds/Phone-Cards.png"
             alt="" />
      </div>
    </div>
  </div>

  <!-- featured items carousel -->
  <!--  items categories carousel -->


</div>


<ng-template #giftFinder
             let-d="dismiss"
             let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center w-100">
      <span class="gradient-text"> <span class="me-2"><i class="fas fa-gift"></i></span> GIFT </span> FINDER
    </h4>
    <button type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body py-4 px-5">
    <app-gift-finder (done)="closeModal(giftFinder)"></app-gift-finder>

  </div>

</ng-template>